.container{
    background: radial-gradient(circle,hsl(27, 87%, 46%),rgb(226, 231, 228),rgb(16, 244, 134));
   height: 200%;
   width: 100%;
   background-position: center;
   background-size:400% 400% ;
   align-items: center;
   padding-top: 10%;
    animation: gradientBG 15s ease-in-out infinite;
}
@keyframes gradientBG{
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
#login-page {
   border:2px solid black;
   border-radius: 25px;
   height: 100%;
   width: 200px;
   background: radial-gradient(circle, #ff6ec7, #845ec2, #0081cf, #00c9a7);
   background-size: 200% 200%;
   padding: 4%;
   animation: loginpage 10s ease-in-out infinite;
}
    @keyframes loginpage{
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
#linked{
    color: rgb(2, 0, 0);
    align-items: center;
    text-align: center;
}
#level{
    color: rgb(2, 0, 0) ;
    align-items: center;
    text-align: center;
}